.faqs{
    background-color: #FFFFFF;
    width: 100%;
    display: flex;
    justify-content: center;
    text-align: center;
    height: 500px;
}
.title-faqs{
    font-size: 36px;
    color: #424B54;
}