.faqs{
    background-color: #FFFFFF;
    justify-content: center;
    text-align: center;
    padding: 12%;
    padding-top:1%;
}
.title-faqs{
    font-size: 36px;
    color: #424B54;
}
.listado-faqs{
    color: #424B54;
    font-size: 20px;
}
.style-li{
    list-style: none;
    padding: 1%;
    text-align: left;
    margin: 5px;
    margin-bottom:10px;
}
.linea-faqs{
    color: black;
}
.collapse-faqs{
    font-size: 16px;    
}
